<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="style.css">
        <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Foodfy</title>
    </head>
    <body>
        <header>
            <div class='links'>
                <a href="./"><img src="./assets/logo.png" alt="Logo da foodfy"></a>
                <a class = "link" href='./sobre'>Sobre</a>
                <a class = "link" href='./receitas'>Receitas</a>
            </div>
        </header>
        {% block content %}
        {% endblock content %}