    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
    * {
        margin: 0;
        padding: 0;
        border: 0;
        font-family: 'Roboto', sans-serif;
    }
    
    body {
        width: 70%;
        margin: 36px auto auto 72px;
    }
    
    .links img {
        margin: 0px;
        margin-right: 10px;
    }
    
    .links .link {
        margin: 30px;
        font-size: 16px;
        line-height: 26px;
        text-decoration: none;
        color: black;
    }
    
    .img_destaq {
        margin: 36px 0px;
        width: 1540px;
        height: 500px;
        border-radius: 30px;
        background-color: #fbdfdb;
        position: relative;
        font-size: 16px;
    }
    
    .img_destaq img {
        position: absolute;
        bottom: 0px;
        right: 100px;
        width: 316px;
    }
    
    .img_destaq_text {
        display: inline-block;
        text-align: left;
        margin: 117px 60px;
    }
    
    .img_destaq_text h1 {
        width: 304px;
        font-size: 32px;
        margin-bottom: 10px
    }
    
    .img_destaq_text p {
        font-size: 18px;
        line-height: 28px;
        width: 316px;
        opacity: 0.7;
        letter-spacing: -0.4px;
    }
    
    h1 {
        font-size: 24px;
    }
    
    .receitas {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        margin-bottom: 10px;
    }
    
    .receita {
        width: 300px;
        cursor: pointer;
    }
    
    .receita img {
        width: 100%;
        border-radius: 15px;
        margin-bottom: 5px;
    }
    
    .receita p {
        color: #777;
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 24px;
    }
    
    footer {
        max-width: none;
        width: 100%;
    }
    
    .space {
        height: 50px;
        width: 100%;
    }
    
    .footer {
        /* min-height: 42px; */
        max-height: 20px;
        max-width: none;
        position: absolute;
        background-color: #eee;
        text-align: center;
        padding: 15px;
        left: 0px;
        width: 100%;
    }
    
    @media screen and (max-width:1380px) {
        body {
            margin-left: 230px;
        }
        .img_destaq {
            box-sizing: content-box;
            width: 940px;
        }
        div.modal {
            height: 64%;
        }
    }
    
    @media screen and (min-width:1400px) {
        .receita {
            width: 500px;
        }
        .img_destaq_text p {
            font-size: 28px;
            line-height: 38px;
            width: 500px;
            opacity: 0.7;
            letter-spacing: -1.4px;
        }
        .img_destaq_text h1 {
            font-size: 45px;
            width: 500px;
            letter-spacing: 1.4px;
        }
        .sobre h1 {
            font-size: 40px;
        }
        .sobre h2 {
            font-size: 32px;
        }
        .sobre p {
            font-size: 24px;
        }
    }
    
    .modal-overlay {
        background-color: #0005;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        opacity: 0;
        visibility: hidden;
    }
    
    .modal-overlay.active {
        opacity: 1;
        visibility: visible;
    }
    
    .modal {
        background-color: white;
        width: 50%;
        height: 50%;
        margin: auto;
        margin-top: 10%;
        position: relative;
        border-radius: 30px;
        min-height: 343px;
        min-width: 525px;
    }
    
    .modal img {
        width: 70%;
        height: 70%;
        border-radius: 20px;
        margin-left: 15%;
    }
    
    .modal .texto h1 {
        text-align: center;
        line-height: 34px;
    }
    
    .modal .texto p {
        text-align: center;
        line-height: 26px;
        font-size: 16px;
    }
    
    i.material-icons {
        margin-left: 95%;
        margin-top: 2%;
        font-weight: bold;
        cursor: pointer;
    }
    
    .sobre {
        margin-top: 20px;
        max-width: 940px;
        /* background-color: #fbdfdb8e; */
        padding: 25px;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    
    .sobre h1,
    h2,
    p {
        margin-top: 10px;
    }
    
    .sobrebody {
        margin-left: 25%;
    }